@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&display=swap");
html {
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: black;
}

#header {
  color: white;
  font-size: 4rem;
  margin-bottom: 10rem;
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
  width: auto;
}
#decimal {
  grid-area: decimal;
}
#equals {
  grid-area: equals;
  height: auto;
}
#clear {
  grid-area: clear;
  width: auto;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: mul;
}
#subtract {
  grid-area: sub;
}
#add {
  grid-area: add;
}

.buttons {
  display: grid;
  background-color: red;
  grid-gap: .1rem;
  grid-template-areas:
    "clear clear mul divide"
    "seven eight nine sub"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

.button {
  border: .1rem solid black;
  font-family: "Electrolize";
  height: 7rem;
  width: 7rem;
  background-color: gray;
  color: white;
  transition: all .2s;
}

.button:hover {
  transform: translateY(-.2rem);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

#display-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: .1rem solid black;
  border-bottom: .2rem solid red;
  width: 28.1rem;
  height: 6rem;
  background-color: gray;
}

#display {
  font-family: "Press Start 2P";
  padding-right: 1rem;
  color: white;
  font-size: 1.5rem;
  overflow: auto;
}
